/* app.css */

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box;
}

.tools-info {
    margin-top: 12px;
    color: #707070;
}
.tools-info a {
    color: #707070;
    text-decoration: none;
    margin-top: 12px;
    margin-bottom: 16px;
    font-weight: 400;
}

.tools-info h2 {
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #0b0d0d;
}

.toolsANDcard {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f7f7f7;
}
.header {
    display: flex;
    align-items: center;
}

/*ПОИСК*/
.tools {
    min-width: 200px;
    margin-right: 20px;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-content: center;
}

.cards-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.foto {
    width: 100%;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 10px;
    object-fit: cover;
}

.description {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    flex-grow: 1;
    color: #313131;
}
.description1 {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #929292;
}

.Price {
    display: flex;
}

.NewPrice {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.OldPrice {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    justify-content: center;
    margin-left: 8px;
    text-decoration: line-through;
    color: #7f7f7f;
    align-items: end;
}

.priceAndBasket button {
    width: 72px;
    height: 36px;
    border-radius: 6px;
    background-color: #0075b1;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
}

/* filter */
.tools {
    max-width: 200px;
    border-radius: 8px;
    padding: 20px;
    height: fit-content;
}

.filter-section {
    margin-bottom: 24px;
}

.filter__subtitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 29px;
    color: #313131;
    display: flex;
    justify-content: space-between;
}

.filter-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    cursor: pointer;
}

.filter-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1.5px solid #d1d1d1;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.filter-checkbox:checked {
    background-color: #313131;
    border-color: #313131;
}

.filter-checkbox:checked::after {
    content: "✓";
    position: absolute;
    color: white;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter-checkbox:checked + .filter-label span:first-child {
    color: #313131;
    font-weight: initial;
}

.filter-label {
    font-size: 14px;
    color: #313131;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filter-price {
    margin-bottom: 24px;
}

.price-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

.price-input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    font-size: 14px;
    width: 75px;
}

.price-input:focus {
    outline: none;
    border-color: #0075b1;
}

.price-slider {
    position: relative;
    height: 4px;
    background-color: #929292;
    border-radius: 1px;
    margin-bottom: 20px;
}

.price-slider .progress {
    position: absolute;
    height: 100%;
    background-color: #0075b1;
    border-radius: 2px;
}

.price-slider input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

.price-slider input[type="range"]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 25%;
    background: #f7f7f7;
    border: #0075b1 solid 2px;
    pointer-events: auto;
    -webkit-appearance: none;
}

.price-slider input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 25%;
    background: #f7f7f7;
    border: #0075b1 solid 2px;
    pointer-events: auto;
}
.grey {
    color: #929292;
}

@media (max-width: 1100px) {
    .cards-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 678px) {
    .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-row {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .cards-wrapper {
        gap: 16px;
    }
}

/* filter */
