/* app.css */

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box;
}

.tools-info{
    margin-top: 12px;
    color: #707070;
}
.tools-info a{
    color: #707070;
    text-decoration: none;
    margin-top: 12px;
    margin-bottom: 16px;
    font-weight: 400;
}

.tools-info h2{
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #0B0D0D;
}

.toolsANDcard {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F7F7F7;
}
.header {
    display: flex;
    align-items: center;
}

/*ПОИСК*/
.tools {
    min-width: 240px;
    background-color: aqua;
    margin-right: 20px;
}

.cards-wrapper {
    flex: 1;
}

.cards-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card {
    width: 250px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.foto {
    width: 250px;
    height: 252px;
    background-color: black;
    border-radius: 10px;
}

.description {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    flex-grow: 1;
    color: #313131;
}
.description1 {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    flex-grow: 1;
    color: #929292;
}

.Price {
    display: flex;
}

.NewPrice {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.OldPrice {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    justify-content: center;
    margin-left: 8px;
    text-decoration: line-through;
    color: #7f7f7f;
    align-items: end;
}

.priceAndBasket button {
    width: 72px;
    height: 36px;
    border-radius: 6px;
    background-color: #0075B1;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
}