* {
    padding: 0;
    margin: 0;
}

.main-header_footer {
    width: 1440px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}
.obert{
   display: flex;
   background-color: #FFFFFF; 
}
/*Главная*/
.background{
    max-width: 100%;
    height: 734px;
    background-image: url(/public/images/car.svg);
}
.main-car{
    margin-left: 4.2%;
    padding-top: 82px;
}
.text-1{
    font-size: 72px;
    color: #FFFFFF;
}
.text-2{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}
.top-text{
    max-width: 822px;
}
.top-down{
    max-width: 618px;
    margin-top: 20px;
}
.button-main{
    width: 239px;
    height: 48px;
    background-color: #0075B1;
    border-radius: 6px;
    border: none;
    gap:10px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}
.top-button{
    margin-top: 50px;
}